.dashboard {
    top:-20vh;
    padding: 3em;
    display: block;
     width: 150vh;
     margin-top: -15vh;
}
.dashboard h3 {
    display: block;
    /* justify-self: stretch;
    flex-basis: 100%; */
    cursor: pointer;
}
.doughnut {
    width: 25%;
    display: inline-block;
    padding: 0 3em 3em 3em;
}

.bar {
    margin: auto;
    width: 50%;
}

.pie {
    margin-left: 10%;
    width: 30%;
    padding: 0 2em 3em 2em;
    display: inline-block;
}